#messagesDiv {
  text-align: left;
  padding-bottom: 20px;
}

#main {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -150px;
}

.timeago {
  color: lightgrey;
}

#messageInput {
  display: none;
}
